.ProductList {
  width: 100%;
  /*padding: 0 0.5rem 0.5rem 0.5rem;*/
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(40vh, 1fr);
  gap: 1rem;
}