.OrderListItem {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  .orderId, .orderDate, .orderTotal, .orderQty {
    font-weight: 600;
    font-size: 1.8vmin;
  }
}

.OrderListItem:hover {
  cursor: pointer;
}

.selected {
  color: #000000;
}