.Home {
    display: flex;
    flex-direction: column;
    margin: 2rem 2.5rem;

    .hero {
        width: 100%;
        padding: 2rem;
        background-color: var(--darker-bg);
        border-radius: 0.625rem;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        p {
            font-size: 12vmin;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
        p:last-of-type {
            padding-bottom: 2rem;
        }
        button {
            width: 45vmin;
            height: 5vmin;
            a {
                text-decoration: none;
                color: var(--lighter-bg);
                width: 45vmin;
                height: 5vmin;
            }
        }
        button:hover {
            background-color: var(--darker-bg);
            color: var(--accent);
            a {
            color: var(--accent);
            }
        }
        
    }
}
