.dialog {
    width: 35%;
    border: .1rem solid grey;
    border-radius: .5rem;
    box-shadow: 3px 3px 5px 1px rgba(93, 128, 80, 0.99);
    overflow: hidden;


    p {
        text-align: center;
        color: grey;
        margin-top: .2rem;
        margin-bottom: .5rem;
    }

    strong {
        font-weight: bolder;
        cursor: pointer;
    }

    strong:hover {
        transform: scale(1.05);
        color: forestgreen;
    }
}

.dialog::backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(128, 120, 120, 0.3);
}