.h1 {
    text-align: center;
    font-size: 3.5rem;
    color: gray;
    margin: .6rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    margin: -1.8rem 0;

    button {
        width: 100%;
        height: 2.5rem;
        padding: .5rem;
        border: none;
        background-color: rgb(12, 133, 12);
        color: white;
        border-radius: .2rem;
        font-weight: bold;
        font-size: 1.8rem;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: .2rem;
        transition: all ease .35s;
    }

    button:hover {
        background-color: rgb(7, 99, 7);
        transform: scale(1.015);
    }
}