.LineItem {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  margin: 1rem 0rem;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .itemImage {
    width: 15rem;
    height: 15rem;
    border-radius: 7px;
  }

  .itemName {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .itemInfo {
    padding: 0;
  }

  .itemDescription {
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .qty {
    display: flex;
    justify-content: space-evenly;
  }

  .qtyContainer {
    text-align: center;
    width: 7rem;
  }

  .btnQty {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .adjustBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .qtyBtn {
    background-color: var(--darker-bg);
    color: black;
    border-style: none;
    font-size: 1.5rem;
  }

  .qtyBtn:hover {
    color: var(--accent);
  }

  .extPrice {
    text-align: center;
  }

  .extText {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .paid {
    font-size: 1.5rem;
    text-align: center;
  }
}