.OrderHistory{
  margin: 2rem 2.5rem;
  background-color: #FBFBFA;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .aside {
    padding-right: 1rem;
    border-right: .1vmin solid #000000;
    margin-right: 1rem;
  }
}